/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --main-bg-color: #000028;
  --main-bg-image: url("../images/cover-image-dark.png");
  --heading-title: #db00ff;
  --accent-color: #ff0070;
  --decorated-color: #ff0070;
  --text-shadow: #ff0070;
  --text-color: #000028;
  --description-text: #f1b2ce;
  --section-title: #ff0070;
  --menu-color: #ff0070;
}
