/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --main-bg-color: #ffc2e6;
  --main-bg-image: url("../images/cover-image-light.png");
  --heading-title: #ffc2e6;
  --accent-color: #ff8dcb;
  --decorated-color: #353430;
  --text-shadow: #ff8dcb;
  --text-color: #353430;
  --description-text: #353430;
  --section-title: #353430;
  --menu-color: #353430;
}

.theme-light .header__decorated-el {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: #ffc2e6;
    --main-bg-image: url("../images/cover-image-light.png");
    --heading-title: #ffc2e6;
    --accent-color: #ff8dcb;
    --decorated-color: #353430;
    --text-shadow: #ff8dcb;
    --text-color: #353430;
    --description-text: #353430;
    --section-title: #353430;
    --menu-color: #353430;
  }

  .header__decorated-el {
    display: none;
  }
}
