.page {
  background-color: var(--main-bg-color, #000028);
  background-image: var(--main-bg-image, url("../images/cover-image-dark.png"));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  font-size: var(--main-font-size, 18px);
  font-family: var(--main-font-family, "IBM Plex Mono", monospace);
}
/*====================================
  Header
====================================*/
.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: 10px;
  padding-bottom: 0px;
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-end: 40px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--decorated-color, #ff0070);
  border-right: 1px solid var(--decorated-color, #ff0070);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--decorated-color, #ff0070);
  border-left: 1px solid var(--decorated-color, #ff0070);
  inline-size: 25px;
  block-size: 25px;
}

.header__decorated-el::before {
  content: "rec";
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--accent-color, #ff0070);
  font-family: inherit;
  line-height: 25px;
  text-transform: uppercase;
}

.header__decorated-el::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 19px;
  border-radius: 50%;
  vertical-align: middle;
  box-shadow: 0px 0px 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  grid-row: 1;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--menu-color, #ff0070);
  font-family: var(--main-font-family, "IBM Plex Mono", monospace);
  font-size: var(--main-font-size, 18px);
  appearance: none;
  cursor: pointer;
  min-inline-size: 70px;
  min-block-size: 26px;
  line-height: 1;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-color, #ff0070);
  transition: outline 0, 4s ease-in;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-color, #ff0070);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--menu-color, #ff0070);
}

.header__title {
  grid-row: 2;
  font-family: var(--main-font-family, "IBM Plex Mono", monospace);
  font-weight: 700;
  justify-self: start;
  align-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--heading-title, #db00ff);
  text-shadow: 4px 4px 0px var(--text-shadow, #ff0070);
}

.title-decor {
  background-color: var(--accent-color, #ff0070);
  color: var(--text-color, #000028);
}

.header__description {
  grid-row: 3;
  font-weight: bold;
  line-height: 23.4px;
  max-inline-size: 355px;
  inline-size: 100%;
  text-wrap: pretty;
  -webkit-text-wrap: pretty;
  -moz-text-wrap: pretty;
  -ms-text-wrap: pretty;
}

/*====================================
  Content
====================================*/
.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0px 10px;
  margin-block-end: 50px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  font-family: var(--main-font-family, "IBM Plex Mono", monospace);
  font-weight: bold;
  font-size: var(--main-font-size, 18px);
  line-height: 23.4px;
  color: var(--section-title, #ff0070);
}

.section__article-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.accent__title {
  font-size: var(--main-font-size, 18px);
  font-weight: bold;
  line-height: 23.4px;
  margin-block-end: 10px;
}

.section__article-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--description-text, #f1b2ce);
  text-wrap: pretty;
  -webkit-text-wrap: pretty;
  -moz-text-wrap: pretty;
  -ms-text-wrap: pretty;
}

.section__article-link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.section__article-link:hover {
  border-block-end: 1px solid var(--description-text, #f1b2ce);
}

.section__article-link:focus {
  outline: none;
}

.section__article-link:focus-visible {
  outline: 1px solid var(--description-text, #f1b2ce);
}

.article__list {
  display: grid;
  gap: 20px;
}

.article .accent__title {
  margin-block-end: 20px;
}

.article__title {
  font-size: var(--main-font-size, 18px);
  color: var(--text-color, #000028);
  font-weight: normal;
  line-height: 23.4px;
  margin-block-end: 10px;
}

.gallery__list {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 10px;
}

.gallery__img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  min-block-size: 100%;
}
/*====================================
  Footer
====================================*/
.footer {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  font-family: var(--main-font-family, "IBM Plex Mono", monospace);
  font-weight: bold;
  align-self: center;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 82.5%;
  color: var(--heading-title, #db00ff);
  text-shadow: 4px 4px 0px var(--text-shadow, #ff0070);
}

/*====================================
  Media
====================================*/

@media (width >= 768px) {
  .header {
    padding: 20px 20px 20px 0;
    min-block-size: 1024px;
    margin-block-end: 60px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header__decorated-el::before {
    top: 20px;
    right: 48px;
  }

  .header__decorated-el::after {
    top: 28px;
    right: 29px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    justify-self: end;
    max-inline-size: 364px;
  }

  .content {
    gap: 80px;
    padding: 0px 20px;
  }

  .section {
    grid-template-columns: 236px 1fr;
  }

  .section__what {
    grid-template-columns: 1fr;
  }

  .section__what .section__title {
    max-inline-size: 236px;
  }

  .gallery .accent__title {
    margin-block-end: 20px;
  }

  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__item:nth-child(1) {
    grid-column: span 2;
    grid-row: 1;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3;
    grid-row: span 2;
  }

  .gallery__item:nth-child(3) {
    grid-column: 1;
    grid-row: span 2;
  }

  .gallery__item:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__item:nth-child(5) {
    grid-column: 2 / span 2;
    grid-row: 3;
  }

  .footer {
    min-block-size: 1024px;
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
  }

  .header__description {
    max-inline-size: 491px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .section {
    grid-template-columns: 315px 1fr;
  }

  .section__what {
    grid-template-columns: 1fr;
  }

  .section__what .section__article-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(315px, 1fr));
  }

  .section__what .section__title {
    max-inline-size: 315px;
  }

  .footer {
    min-block-size: 768px;
  }
}
